@page "/equipments"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DataAccess
@using AgriTedWeb.Data
@implements IAsyncDisposable
@inject IDbContextFactory<AgriTedWeb.Data.AgriTedWebContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="equipments/create" class="btn btn-outline-success">Create New</a>
</p>

<QuickGrid Class="table" Items="context.EQUIPMENT">
    <PropertyColumn Property="equipment => equipment.Type" />
    <PropertyColumn Title="Price (TL)" Property="equipment => equipment.Price" />

    <TemplateColumn Context="equipment">
        <a href="@($"equipments/edit?equipmentid={equipment.EquipmentId}")" class="btn btn-outline-warning">Edit</a> |
        <a href="@($"equipments/details?equipmentid={equipment.EquipmentId}")" class="btn btn-outline-info">Details</a> |
        <a href="@($"equipments/delete?equipmentid={equipment.EquipmentId}")" class="btn btn-outline-danger">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AgriTedWebContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
