@page "/fertilizers/create"
@using Microsoft.EntityFrameworkCore
@using DataAccess
@inject IDbContextFactory<AgriTedWeb.Data.AgriTedWebContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>FERTILIZER</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="FERTILIZER" OnValidSubmit="AddFERTILIZER" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="type" class="form-label">Type:</label> 
                <InputText id="type" @bind-Value="FERTILIZER.Type" class="form-control" /> 
                <ValidationMessage For="() => FERTILIZER.Type" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="amount" class="form-label">Amount:</label> 
                <InputNumber id="amount" @bind-Value="FERTILIZER.Amount" class="form-control" /> 
                <ValidationMessage For="() => FERTILIZER.Amount" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="price" class="form-label">Price:</label> 
                <InputNumber id="price" @bind-Value="FERTILIZER.Price" class="form-control" /> 
                <ValidationMessage For="() => FERTILIZER.Price" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-outline-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/fertilizers" class="btn btn-outline-secondary">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private FERTILIZER FERTILIZER { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddFERTILIZER()
    {
        using var context = DbFactory.CreateDbContext();
        context.FERTILIZER.Add(FERTILIZER);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/fertilizers");
    }
}
