<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AgriTedWeb</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fas fa-house icon-with-space" aria-hidden="true"></i> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/fields">
                <i class="fas fa-sun-plant-wilt icon-with-space" aria-hidden="true"></i> Field
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/crops">
                <i class="fas fa-wheat-awn icon-with-space" aria-hidden="true"></i> Crops
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/equipments">
                <i class="fas fa-tractor icon-with-space" aria-hidden="true"></i> Equipments
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/fertilizers">
                <i class="fas fa-leaf icon-with-space" aria-hidden="true"></i> Fertilizers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/qualities">
                <i class="fas fa-ranking-star icon-with-space" aria-hidden="true"></i> Fertilizer Qualities
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/farmers">
                <i class="fas fa-users icon-with-space" aria-hidden="true"></i> Farmers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/suppliers">
                <i class="fas fa-truck-field icon-with-space" aria-hidden="true"></i> Suppliers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/reservations">
                <i class="fas fa-calendar-plus icon-with-space" aria-hidden="true"></i> Reservations
            </NavLink>
        </div>


    </nav>
</div>


