@page "/crops/edit"
@using Microsoft.EntityFrameworkCore
@using DataAccess
@inject IDbContextFactory<AgriTedWeb.Data.AgriTedWebContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>CROP</h2>
<hr />
@if (CROP is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="CROP" OnValidSubmit="UpdateCROP" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="CROP.CropId" value="@CROP.CropId" />
                <div class="mb-3">
                    <label for="type" class="form-label">Type:</label>
                    <InputText id="type" @bind-Value="CROP.Type" class="form-control" />
                    <ValidationMessage For="() => CROP.Type" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="avarageyield" class="form-label">AvarageYield:</label>
                    <InputNumber id="avarageyield" @bind-Value="CROP.AvarageYield" class="form-control" />
                    <ValidationMessage For="() => CROP.AvarageYield" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <InputNumber id="price" @bind-Value="CROP.Price" class="form-control" />
                    <ValidationMessage For="() => CROP.Price" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-outline-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/crops" class="btn btn-outline-secondary">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int CropId { get; set; }

    [SupplyParameterFromForm]
    private CROP? CROP { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        CROP ??= await context.CROP.FirstOrDefaultAsync(m => m.CropId == CropId);

        if (CROP is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateCROP()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(CROP!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!CROPExists(CROP!.CropId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/crops");
    }

    private bool CROPExists(int cropid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.CROP.Any(e => e.CropId == cropid);
    }
}
